html * {font-family: "Open Sans", sans-serif;}

html {
    background-color: whitesmoke;
}

nav {
	background-color: gray;
	width: 92%;
	max-width: 960px;
    margin-left: -2%;
	padding: 0 2%;
	position: fixed;
	top: 0;
}

body {
    background-color: white;
    color: black;
    max-width: 960px;
    margin: 0 auto;
    padding: 40px 4%;
}

nobody{
	flex: 1;
}

a {
    color: royalblue;
	text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h3 {
    margin: 12px 0 12px 0;
}

div {
    margin: 0 0 12px 0;
}

ul {
    margin: 0 0 20px 0;
    padding: 0 0 0 1em;
}

li {
    margin: 0 0 12px 0;
}

ul.tight li {
    margin: 0 0 3px 0;
}

ul.loose li {
    margin: 0 0 20px 0;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}

ul.nav li {
    float: left;
    margin: 0;
}

ul.nav li a {
    display: inline-block;
    color: white;
    font-size: 1.05em;
    text-align: center;
    text-decoration: none;
    padding: .7em;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

ul.nav li a:hover {
    background-color: black;
}

ul.nav li.current a {
    background-color: orange;
}

ul.nav li.current a:hover {
    background-color: orange;
}

ul.nav li.lang {
    float: right;
    margin: 0;
}

ul.nav li.menu {
    display: none;
}

ul.nav li.menu a {
    font-size: 1.02em;
}

@media screen and (max-width:680px) {
    ul.nav li:not(:first-child) {
        display: none;
    }
    ul.nav li.menu {
        float: right;
        display: inline-block;
    }
}

@media screen and (max-width:680px) {
    ul.nav.responsive {
        position: relative;
    }
    ul.nav.responsive li.menu {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.nav.responsive li {
        float: none;
        display: inline;
    }
    ul.nav.responsive li a {
        display: block;
        text-align: left;
    }
}

a.absToggle {
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}

a.absToggle.more {
    font-size: 1em;
}

a.absToggle:hover {
    text-decoration: underline;
}

p.abs {
    font-size: 14px;
    margin: 12px 1em 20px 1em;
    text-align: justify;
}

p.abs.more {
    margin: -8px 1em 20px 1em;
    text-indent: 1em;
}

div.slides {
    font-size: 14px;
}

hr.section {
    background-color: orange;
    color: orange;
    border: 0;
    height: 4px;
    width: 104%;
    margin-left: -2%;
}

.material-icons-outlined.normal {
	font-size: 16px;
    vertical-align: -20%;
}

.material-icons-outlined.abs {
	font-size: 14px;
	vertical-align: -20%;
}
