html * {
    font-family: "Open Sans", sans-serif;
}

a {
    color: royalblue;
}

a.nav {
    background-color: lightgray;
    border: 2px solid lightgray;
    color: white;
    padding: 6px 12px 4px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 4px 2px 0px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

a.nav:hover {
    background-color: tomato;
    border-color: tomato;
    color: white;
}

a.nav.current {
    background-color: orange;
    border-color: orange;
    color: white;
}

hr.section {
    border: 0;
    color: orange;
    background-color: orange;
    height: 5px;
    width: 100%;
}

hr.section.nav {
    position: relative
    z-index: 1;
    margin-top: -1px
}
