html * {
    font-size: 1em
    font-family: Arial, Helvetica, sans-serif
}
hr {
    border: 0;
    color: orange;
    background-color: orange;
    height: 5px;
    width: 100%;
}
a {
    color: royalblue
}
